{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^react$",
        "^@inertiajs(.*)$",
        "^lucide-react$",
        "^@tabler/icons-react$",
        "^@/Components(.*)$",
        "^@/constants(.*)$",
        "^@/hookform(.*)$",
        "^@/lib(.*)$",
        "^!assets(.*)$"
    ],
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
